<p-fieldset legend="Cadastrar Carros">
    <form [formGroup]="form" novalidate (submit)="salvar()">
        <div class="p-fluid p-formgrid p-grid p-col-12">
            <div class="p-field p-col 4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="40" formControlName="nome" pInputText> 
                    <label for="float-input">Nome</label>
                </span>
            </div>
            <div class="p-field p-col 4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="40" formControlName="marca" pInputText> 
                    <label for="float-input">Marca</label>
                </span>
            </div>
            <div class="p-field p-col 4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="40" formControlName="cor" pInputText> 
                    <label for="float-input">Cor</label>
                </span>
            </div>
        </div>
        <div class="p-col-12">
                <p-button *ngIf="form.controls.id.value == null"
                    icon="pi pi-plus-circle"
                    label="Cadastrar" 
                    styleClass="ui-button-success"
                    type="submit">
                </p-button>
        </div>
    </form> 
    <div>
        <p-button *ngIf="form.controls.id.value"
            icon="pi pi-check-circle"
            label="Salvar" 
            styleClass="ui-button-success"
            (click)="update()">
        </p-button>
    </div>  
    <div style="margin-top: 10px;">
        <p-table  [paginator]="true" [rows]="8" [value]="Carros">
            <ng-template pTemplate="caption">
                Lista de Carros
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Cor</th>
                    <th style="width: 100px; text-align: center;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-carro>
                <tr>
                    <td>{{carro.nome}}</td>
                    <td>{{carro.marca}}</td>
                    <td>{{carro.cor}}</td>
                    <td style="text-align: center;">
                        <p-button 
                            icon="pi pi-user-edit"
                            styleClass="ui-button-warning ui-button-rounded"
                            (onClick)="editar(carro)">
                        </p-button>
                        <p-button 
                            icon="pi pi-trash"
                            styleClass="ui-button-danger ui-button-rounded"
                            (onClick)="delete(carro)">
                        </p-button>
                       
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-fieldset>