<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar 
      style="color: white; 
      font-weight: bold;
      text-align: center;"
      >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home <i style="padding: 10px;" class="fas fa-home"></i></a>
      <a mat-list-item [routerLink]="['/funcionario']">Funcionarios <i style="padding: 10px;" class="fas fa-people-carry"></i></a>
      <a mat-list-item [routerLink]="['/peca']">Peças <i style="padding: 10px;" class="fas fa-tools"></i></a>
      <a mat-list-item [routerLink]="['/carro']">Carros <i style="padding: 10px;" class="fas fa-car"></i></a>
      <a mat-list-item href="#">Serviços <i style="padding: 10px;" class="fas fa-handshake"></i></a>
      <a mat-list-item [routerLink]="['/loja']">Loja <i style="padding: 10px;" class="fas fa-store"></i></a>
      <a mat-list-item [routerLink]="['/cliente']">Clientes <i style="padding: 10px;" class="fas fa-user-friends"></i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../imagens/imagensLogo.png">
      <span>Moove </span> <span style="color: #035388;">Concessionárias</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
