.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #4e5fc2;
}

.sidenav .mat-toolbar {
  background: #4e5fc2;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-nav-list .mat-list-item {
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: bold;
}

.sidenav[_ngcontent-qly-c115] .mat-toolbar[_ngcontent-qly-c115] {
  background: #949ed5;
  color: white;
}