.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #363636;
  font-size: large;
}

.sidenav .mat-toolbar {
  background: #363636
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-nav-list .mat-list-item {
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: bold;
}

.sidenav[_ngcontent-qly-c115] .mat-toolbar[_ngcontent-qly-c115] {
  background: #363636;
  color: white;
}

.mat-toolbar.mat-primary {
  background: #363636;
  color: #fff;
}

.mause:hover {
  background-color: #0294cd8e;
  -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
  
  
}
a:hover {
  font-size: 20px;
}
#spanConcessionarias{
  font-size: 25px;
   color: #0292cd;
   padding-left: 5px;
}
#spanMoove{
  color: #fff;
  font-size: 25px;
}