<link rel="shortcut icon" href="assets/carrosLogo.png ">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar 
      style="color: white; 
      font-weight: bold;
      text-align: center;"
      >Menu</mat-toolbar>
    <mat-nav-list>
      <div class="mause">
        <a mat-list-item [routerLink]="['/home']"><i style="padding: 10px;" class="fas fa-home"></i>Home </a>
      </div>
      <div class="mause">
        <a mat-list-item [routerLink]="['/funcionario']"><i style="padding: 10px;" class="fas fa-people-carry"></i>Funcionarios </a>
      </div>
      <div class="mause">
        <a mat-list-item [routerLink]="['/peca']"><i style="padding: 10px;" class="fas fa-tools"></i>Peças </a>
      </div>
      <div class="mause"> 
        <a mat-list-item [routerLink]="['/carro']"><i style="padding: 10px;" class="fas fa-car"></i>Carros </a>
      </div>
      <div class="mause">
        <a mat-list-item [routerLink]="['/servico']"><i style="padding: 10px;" class="fas fa-handshake"></i>Serviços </a>
      </div>
      <div class="mause">  
        <a mat-list-item [routerLink]="['/loja']"><i style="padding: 10px;" class="fas fa-store"></i>Loja </a>
      </div>
      <div class="mause">
        <a mat-list-item [routerLink]="['/cliente']"><i style="padding: 10px;" class="fas fa-user-friends"></i>Clientes </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img style="width: 60px; height: 45px; padding-left:5px ;" src="assets/carrosLogo.png" >
      <form action=""></form>
      <span id="spanMoove" >Moove </span> <span id="spanConcessionarias">Concessionárias</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
