<p-fieldset legend="Cadastrar Funcionario">
    <div class="ui-g-12">   
        <div class="ui-g-4">
           <span class="ui-float-label">
               <input id="float-input" type="text" size="40" pInputText> 
               <label for="float-input">Nome</label>
           </span>
       </div>
       <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
           <span class="ui-float-label">
               <input id="float-input" type="text" size="40" pInputText> 
               <label for="float-input">CPF</label>
           </span>
       </div>       
       <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
           <span class="ui-float-label">
               <input id="float-input" type="text" size="40" pInputText> 
               <label for="float-input">Cargo</label>
           </span>
       </div>
       
       <div class="ui-g-12">
            <p-button 
                label="Cadastrar" 
                styleClass="ui-button-success"
                [routerLink]="['/funcionario-form']">
            </p-button>
       </div>
    </div> 
    <div>
        <p-table [value]="Funcionarios">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 70px;">Opções</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Cargo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-funcionario>
                <tr>
                    <td>
                     <i class="far fa-edit" ng-click=""> </i>
                     <i class="fas fa-trash-alt" ng-click=""></i>
                    </td>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.cpf}}</td>
                    <td>{{funcionario.funcao}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-fieldset>