<p-fieldset legend="Cadastrar Funcionario">
    <form [formGroup]="form" novalidate (submit)="salvar()">
        <div class="p-fluid p-formgrid p-grid p-col-12">
            <div class="p-field p-col 4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="40" formControlName="nome" pInputText> 
                    <label for="float-input">Nome</label>
                </span>
            </div>
            <div class="p-field p-col 4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="40" formControlName="cpf" pInputText> 
                    <label for="float-input">CPF</label>
                </span>
            </div>
            <div class="p-field p-col 4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="40" formControlName="funcao" pInputText> 
                    <label for="float-input">Função</label>
                </span>
            </div>
        </div>
        <div class="p-col-12">
                <p-button *ngIf="form.controls.id.value == null"
                    icon="pi pi-plus-circle"
                    label="Cadastrar" 
                    styleClass="ui-button-success"
                    type="submit">
                </p-button>
        </div>
    </form> 
    <div>
        <p-button *ngIf="form.controls.id.value"
            icon="pi pi-check-circle"
            label="Salvar" 
            styleClass="ui-button-success"
            (click)="update()">
        </p-button>
    </div>  
    <div style="margin-top: 10px;">
        <p-table [paginator]="true" [rows]="10" [value]="Funcionarios">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Cargo</th>
                    <th style="width: 200px; text-align: center;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-funcionario>
                <tr>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.cpf}}</td>
                    <td>{{funcionario.funcao}}</td>
                    <td>
                        <p-button 
                            icon="pi pi-user-edit"
                            label="Editar" 
                            styleClass="ui-button-secondary ui-button-rounded"
                            (onClick)="editar(funcionario)">
                        </p-button>
                        <p-button 
                            icon="pi pi-trash"
                            label="Deletar" 
                            styleClass="ui-button-secondary ui-button-rounded"
                            (onClick)="delete(funcionario)">
                        </p-button>
                       
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-fieldset>